version: '3.8'

services:
  app1:
    build: .
    environment:
      - CONTAINER_NAME=App_Um
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 5s
      timeout: 3s
      retries: 3

  app2:
    build: .
    environment:
      - CONTAINER_NAME=App_Dois
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 5s
      timeout: 3s
      retries: 3
  
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on: 
      app1:
        condition: service_healthy
      app2:
        condition: service_healthy